robotframework-seleniumlibrary==4.5.0
robotframework-databaselibrary==1.2.4
robotframework-requests==0.7.1
robotframework-datadriver==1.0.0
robotframework-pabot==1.10.0
PyMySQL==0.10.1
allure-robotframework==2.8.18
